<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpenDroid - Perfil</title>
  <link rel="icon" type="image/x-icon" href="../img/favicon/favicon.ico">
  <link rel="stylesheet" href="../css/account.css">
</head>
<body>
  <header>
    <a href="home" style="text-decoration: none">
        <div class="logo">
          <img src="../img/favicon/favicon-32x32.png" alt="Logo OpenDroid">
          <h1>OpenDroid Forums</h1>
        </div>
      </a>
  </header>

  <main>
    <section class="perfil">
      <div class="perfil-header">
        <img src="../img/favicon/pedro.png" alt="Avatar do Usuário" class="avatar">
        <h2>PedroPHP</h2>
      </div>
      <div class="perfil-info">
        <h3>Informações da Conta</h3>
        <p><strong>Email:</strong> pedro@peagape.com.php</p>
        <p><strong>Membro desde:</strong> peagape foi criado em 1995</p>
        <p><strong>Total de (shit)posts:</strong> 42 (todos sobre php)</p>
        <p><strong>Passatempos:</strong> ir ao morumbas</p>
        <p><strong>Nacionalidade:</strong> PHP/Indiano</p>
        <p><strong>Pronomes:</strong> PE/AGAPE</p>
        <p><strong>Endereço: </strong>Taboão/morumbas</p>
      </div>
      <div class="perfil-config">
        <h3>Configurações</h3>
        <button>Editar Perfil</button>
        <button>Alterar Senha</button>
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; OpenDroid Forums</p>
  </footer>
</body>
</html>